.details-container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 400px minmax(0, 1fr);
  grid-column: 1 / -1;
  grid-row: 1 / -1; 
  background-color: #EAE7E7;
  overflow-y: scroll;
}

.details-content {
  grid-column: 1 / -1;
  grid-row: 2 / -1; 
  display: grid;
  grid-template-columns:  repeat(12, minmax(0, 1fr));
  grid-template-rows: auto 200px 600px 300px 
}

.details-walktitle {
  width: 150px;
  position: absolute;
  grid-column: 1 / 2;
  grid-row: 1 / 2 ;
  font-size: 20px;
  text-transform: uppercase;
  background-color: black;
  color: white;
}

.details-photo-slider {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border: none;
}

.details-map {
  grid-column: 7 / 13;
  grid-row: 1 / 2; 
}

.details-info {
  display: grid;
  grid-column: 1 / 7;
  grid-row: 1 / 2; 
  list-style-type:none;
  color: white;
  background-color: black;
  padding: 50px 0px 30px 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2em;
}

.details-info-text {
align-self: center;
}
.details-text {
  grid-column: 1 / -1;
  grid-row: 2 / 3; 
  font-size: 20px;
}

.details-photos {
  height:100%;
  opacity: 0.85;
}

.detials-slider {
  height: 100%;
}

.slick-slider {
  height: 100%;
  width: 100%;
}

.slick-list {
  height: 100%;
  width:100%;
  padding: 0;
}

.slick-dots {
  bottom: 25px;
}