
body {
  background-image: url('../images/Landingpage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color:#464646;
}



.btn-group-wrap {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column: 6 / 8;
  grid-row: 3 / 5;
  align-items: center;
  text-align: center;
  justify-content: center; 
}

.btn {
  width:15vw;
  height: 3vw;
  border-radius: 40px !important;
  background-color: rgb(171, 213, 60) !important;
  border-color: rgb(171, 213, 60) !important;
  justify-self: center;
  font-family:  nobel, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.logo {
  text-align: center;
  
 
}