.hamish-error {
  background: rgb(250, 128, 114, 0.9);
  z-index: 105;
  position: fixed;
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  min-width: 250px;
  min-height: 140px;
  transform: translate(-50%, -50%);
}

.hamish-button-round {
  background: rgba(255, 255, 255, 0.8);
  z-index: 106;
  right: 0;
}

.hamish-popup-inner {
  border: 1.5px black solid;
}

.hamish-error-text {
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
}

.hamish-profile-deleted {
  background: rgba(250, 128, 114, 0.8);
  border: 0px;
  text-decoration: none !important;
  text-align: center;
  display:block;
  height: 100px;
  margin: 10% 20%;
}

.hamish-profile-deleted:hover {
  color: white;
}

