  /** PROFILE PAGE CSS **/
  .profile-container {
    /* display              : grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows   : 7.6% 46.2% 46.2%;
    grid-template-areas  :

      "profile-header profile-header profile-header profile-header"
      "profile-top profile-top profile-top profile-top"
      "profile-bottom profile-bottom profile-bottom profile-bottom";
    ;
    padding         : 0;
    margin          : 0;
    height          : 100vh; */
    width           : 100%;
    background-color: #f4f4f4;
  }

  .profile-header {
    /* grid-area         : profile-header;
    background-color     : #020250;
    padding              : 0;
    margin               : 0; */
    display              : grid;
    grid-template-rows   : repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column          : 1 / last-column;
    grid-row             : 1 / 1;
    background-color     : #ABD53C;
    max-height           : 100%;
    width                : 100%;
  }

  .profile-header-btn-group {
    display    : inline-block;
    height     : 100%;
    margin-left: 50%;
  }

  .profile-header-btn {
    background-color: rgb(155, 155, 155);
    border-style    : none;
    border-radius   : 0px;
    color           : white;
    text-align      : center;
    display         : inline-block;
    height          : 100%;
  }

  .profile-header-btn:hover {
    background-color: rgb(116, 116, 116);
  }

  .profile-top {
    grid-area       : profile-top;
    background-color: #f4f4f4;
    padding         : 35px 140px;
    /* border-style : groove;
    border-color    : rgb(204, 204, 204);
    border-width    : 0.1px; */
  }

  .profile-top-children {
    display              : grid;
    grid-template-columns: 40% 60%;
    padding: 30px;
    /* grid-template-rows   : 100%;
    grid-template-areas  :

      "profile-top-content-left profile-top-content-right"
    ;

    height    : 100%;
    width     : 100%;
    background: #FFFFFF; */
  }

  .profile-top-content-right {
    background: brown
  }

  .profile-top-content-left {
    background: white;
    padding   : 150px 50px;
  }

  .profile-cover-image {
    width : 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-bottom-children {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding-right: 170px;
    padding-left: 170px;
    padding-bottom: 50px;
    /* grid-template-rows   : 100%;
    grid-template-areas  :

      "profile-bot-container-left profile-bot-container-mid profile-bot-container-right"
    ;

    height    : 100%;
    width     : 100%;
    background: #FFFFFF; */
  }

  .profile-bot-container-left {
    background: white;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }

  .profile-bot-container-mid {
    background: white;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }

  .profile-bot-container-right {
    background: white;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  }

  .profile-bot-content-card {
/*     
    display              : grid;
    grid-template-columns: 100%;
    grid-template-rows   : 70% 30%;
    grid-template-areas  :
      "profile-card-top"
      "profile-card-bot"
    ;

    height    : 100%;
    width     : 100%;
    background: #FFFFFF;
    background   : white;
    max-width    : 50%;
    height       : 100%;
    margin-left  : 25%; */
    box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px
  }

  .profile-card-top {
    background: grey;
    max-width : 100%;
    max-height    : 100%;
  }

  .profile-walk-image {
    width : 100%;
    height: 100%;
    object-fit: cover;
  }
  .profile-card-bot {
    display: flex;
    background: white;
    max-width : 100%;
    word-wrap: break-all;
    text-align: center;
    flex-direction: column;
  }



  .profile-picture-image {
    max-width      : 40%;
    display        : block;
    margin         : auto;
    border-radius  : 50%;
    border-style   : solid;
    border-color   : grey;
    border-width   : thin;
    object-fit     : cover;
    object-position: center right;
  }

  .wrapper {
    padding: 100px;
  }

  .image--cover {
    width        : 150px;
    height       : 150px;
    border-radius: 50%;
    margin       : 20px;

    object-fit     : cover;
    object-position: center right;
  }

  /* .profile-cover {
    grid-area       : profile-cover;
    background-color: rgb(245, 243, 243);
    /* border-style : groove;
    border-color    : rgb(204, 204, 204);
    border-radius   : 5px;
    border-width    : 0.5px; */
  } */

  .profile-bottom {
    grid-area      : profile-bottom;
    padding        : 30px;
    padding-top    : 10px;
    /* border-style: groove;
    border-color   : rgb(204, 204, 204);
    border-width   : 0.1px; */
  }


  .profile-logo {
    /* max-height: 100%; */
    grid-column  : 2 / 3;
    padding      : 5px;
    width        : 30%;
    justify-self : center;
    align-self   : center;
  }