.appContainer {
  display: flex;
  flex-direction: row;
}

.sideBarContainer {
flex: 0 1 50%; 
min-height: 100%;
max-width: 25%;
border: 1px inset blue;
}

.landing-heading-centre {
  font-size: 5em;
  text-align: center;
  margin-top: relative;
  color: white;
}

.btn-group-wrap {
  text-align: center
}

.div.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.mapContainer {
  min-height: 100%;
  max-width: 75%;
}

.highlighted {
  color: white;
  opacity: 0.5;
}
