body {
background-color: whitesmoke;
margin: 0px;
}

p {
  margin: 0
}

h1 {

}

h2 {
margin: 0
}

h3 {

}
.appContainer {
  display: flex;
  flex-direction: row;
}

.sideBarContainer {
flex: 0 1 50%; 
min-height: 100%;
max-width: 19%;
margin-right: 40px;
margin-left: 40px;
margin-top: 200px;
}

.mapContainer {
  min-height: 100%;
  max-width: 75%;
}

.highlighted {
  color: white;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  /* box-shadow: 3px 3px 3px #cccccc; */
}

.item {
  color: white;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  /* box-shadow: 5px 5px 7px #cccccc; */
}
