body {
background-color: whitesmoke;
margin: 0px;
}

p {
  margin: 0
}

h1 {

}

h2 {
margin: 0
}

h3 {

}
.appContainer {
  display: flex;
  flex-direction: row;
}

.sideBarContainer {
flex: 0 1 50%; 
min-height: 100%;
max-width: 30%;
margin-right: 60px;
margin-left: 60px;
margin-top: 200px;
}

.mapContainer {
  min-height: 100%;
  max-width: 75%;
}

.highlighted {
  color: white;
  padding: 15px;
  margin-bottom: 30px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #888888;
}

.item {
  padding: 15px;
  margin-bottom: 30px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #888888;
}
